@font-face {
    font-family: Futureworld;
    src: url(./public/assets/fonts/Futureworld-ZGwJ.ttf);
}

* {
    font-family: Futureworld;
    color: #C1C1C1;
    /*border: 1px solid red;*/
}

body {
    background-color: #2e3b3b;
}

main {
}

.settings {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    text-align: center;
}

footer {
    margin-top: 1%;
    border-top: 1px solid #C1C1C1;
    font-size: 10px;
    text-align: center;
}